/* layout */
.inner {
  width: 1092px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

/* header */
header {
  width: 100%;
  min-width: 1092px;
  height: 70px;
  border-bottom: 1px solid hsla(220,7%,92%,.15);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.5s;
}
.hedaer_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo h1 {
  height: 22px;
  width: 98px;
}
.logo h1 a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../img/pmang.png')no-repeat center;
  background-position: 0 0;
}
.nav_area {
  margin-left: 20px;
  display:flex;
  align-items: center;
}
.nav_area .main_nav,
.nav_area a {
  height: 100%;
  padding: 20px 10px;
  font-size: 17px;
  font-weight: 500;
  color: #e0e0e0;
  display: inline-block;
  margin: 0 10px;
}
.nav_area .main_nav i {
  transition: 0.3s;
  margin-left: 10px;
}
.nav_area .main_nav:hover i {
  transform: rotate(-180deg);
}
.login {
  flex: 1;
  text-align: right;
}
.login a {
  display: inline-block;
  padding: 6px 10px;
  color: #fff;
  font-size: 13px;
  border: 1px solid #fff;
  font-weight: 700;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 20%)
}
.hidden_nav {
  position: absolute;
  background: #212222;
  left: 0;
  top: 100%;
  width: 100%;
  display: flex;
  visibility: hidden;
}
.hidden_nav::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  left: 143px;
  border-bottom: 20px solid #212222;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
.hidden_nav > li {
  width: calc(100% / 6);
}
.hidden_nav h2 {
  font-size: 16px;
  padding: 16px 0 0 19px;
  margin-bottom: 15px;
  color: #7f7f7f;
  line-height: 1.5;
}
.hidden_nav_list {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  height: calc(100% - 55px);
}
.hidden_nav > li:first-child .hidden_nav_list {
  border-left: none;
}
.hidden_nav_list a {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  padding: 6px 19px;
  margin: 2px 0;
  line-height: 1.5;
  font-weight: 600;
  color: #fff;
}
.hidden_nav_list a:hover {
  background: #c81c1c;
}

/* main */
main {
  width: 100%;
  min-width: 1092px;
  overflow: hidden;
}

/* main_bg */
.main_bg {
  height: 450px;
  position: relative;
}
.bg {
  width: 100%;
  min-width: 1092px;
  height: 450px;
  background: url("../img/541082821367.BG.jpg") no-repeat top;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;;
}
.bg02 {
  background: url("../img/440419772631.2220816_Web_NewVegas_Top_1.png") no-repeat top;
}
.bg03 {
  background: url("../img/220520_피망_내통장결제프로모션_공홈배너.jpg") no-repeat top;
}
.main_bg figure {
  width: 540px;
  height: 380px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.main_bg figure figcaption {
  position: absolute;
  right: 50%;
  bottom: 100px;
  transform: translateX(50%);
}
.main_bg figure figcaption a {
  display: block;
  background: rgba(249, 27, 27);
  color: #fff;
  font-size: 18px;
  font-weight: 600px;
  padding: 16px 27px 17px;
}
.main_bg figure figcaption a:hover {
  background: rgba(255, 48, 48);
}

/* recommend_game */
.recommend_game {
  padding: 44px 0;
}
.recommend_game_top {
  display: flex;
  justify-content: space-between;
}
.recommend_game_top h3,
.recommend_game_top span {
  font-size: 21px;
  font-weight: 500;
  padding-bottom: 22px;
}
.recommend_game_top span {
  margin-right: 205px;
}
.recommend_game_main {
  display: flex;
  justify-content: space-between;
}
.recommend_game_main li {
  margin: 0 6px;
  width: calc(100% / 4);
  height: 357px;
  border: 1px solid #ccc;
}
.recommend_game_main li:first-child {
  margin-left: 0;
}
.recommend_game_main li:last-child {
  margin-right: 0;
}
.recommend_game_main li:hover {
  box-shadow:  0 2px 9px 3px rgb(0 0 0 / 20%);
}
.recommend_game_main li a {
  display: block;
}
.recommend_game_main li a figure {
  position: relative;
  width: 100%;
  height: 100%;
}
.recommend_game_main li a figcaption {
  position: absolute;
  left: 20px;
  bottom: 0;
}
.recommend_game_main li a figcaption p {
  font-size: 14px;
  font-weight: 500;
}
.recommend_game_main li a figcaption h4 {
  font-size: 24px;
  color: #fff;
  margin: 10px 0 20px;
}
.login_window {
  width: 100%;
  height: 100%;
  background: #fa2222;
  padding: 10px;
}
.login_window .login_window_logo {
  text-align: center;
  margin-top: 48px;
}
.login_window .login_window_text p {
  text-align: center;
  font-size: 14px;
  margin: 17px 0 41px;
  color: #fff;
  font-weight: 500;
}
.login_window .login_window_text a {
  width: 100%;
  display: block;
  background: #fff;
  text-align: center;
  color: #da2424;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
}
.login_window .login_window_text span {
  display: block;
  text-align: center;
  margin: 15px 0 17px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.messenger {
  display: flex;
  justify-content: center;
}
.messenger > a {
  display: inline-block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin: 0 4px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}
.messenger > a.naver {
  background: url("../img/icon-naver.png");
}
.messenger > a.facebook {
  background: url("../img/icon-facebook.png");
}
.messenger > a.google {
  background: url("../img/icon-google.png");
}
.login_window_bottom {
  display: flex;
  margin-top: 35px;
}
.login_window_bottom a {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}
.login_window_bottom a.find_id {
  padding-right: 8px;
  position: relative;
}
.login_window_bottom a.find_id::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 10px;
  background: #c81c1c;
}
.login_window_bottom a.find_pw {
  margin-left: 8px;
}
.login_window_bottom a.new_user {
  flex: 1;
  text-align: right;
}
.login_window_bottom a.new_user i {
  font-size: 13px;
  margin-left: 5px;
  vertical-align: top;
}
.game_list {
  display: flex;
  flex-wrap: wrap;
  width: 1092px;
  margin-top: 20px;
  transform: translate3d(0,0,0);
  
}
.game_list li {
  width: calc((100% / 4) - 9px);
  margin: 6px;
}
.game_list li:nth-child(4n - 3) {
  margin-left: 0;
}
.game_list li:nth-child(4n) {
  margin-right:0;
}
.game_list li a {
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-bottom: 4px solid red;
}
.gostop li a {
  border-color: #00a43b;
}
.poker li a {
  border-color: #6b53c8;
}
.casino li a {
  border-color: #f39;
}
.board li a {
  border-color: #c853be;
}
.fps li a {
  border-color: #46c1ff;
}
.rpg li a {
  border-color: #e99a00;
}
.game_list figure {
  position: relative;
}
.game_list figure figcaption {
  position: absolute;
  left: 20px;
  top: 53px;
}

/* pc_game */
.pc_game {
  width: 100%;
  background: #e8eaf2;
  padding: 44px 0;
}
.title {
  padding-bottom: 16px;
  font-size: 21px;
  font-weight: 500;
}

/* mobile_game */
.mobile_game {
  width: 100%;
  background: #e8eaf2;
  padding-bottom: 44px;
}
.mo_lis {
  height: 244px;
}
.mo_list a {
  display: block;
  background: #fff;
  padding: 20px;
}
.mo_list .img_area {
  width: 100%;
  text-align: center;
  margin-bottom: 18px;
}
.mo_list .text_area {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
}
.mo_list .text_area p {
  font-size: 15px;
  color: #A0A7B9;
  margin-bottom: 9px;
  letter-spacing: -1px;
}
.mo_list .text_area span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 3px;
}
.mo_list .text_area span.play_app {
  background: url("../img/icon-android.png")center no-repeat;
}
.mo_list .text_area span.apple_app {
  background: url("../img/icon-ios.png")center no-repeat;
}

/* notice_area */
.notice_area {
  width: 100%;
  background: #2a2c2e;
  height: 55px;
}
.notice_area .inner {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.notice_area h5 {
  margin-right: 30px;
}
.notice_area h5 a {
  color: #d7d7d7;
  font-size: 16px;
  font-weight: 500;
  display: block;
  white-space: nowrap;
}
.notice_list {
  flex: 1;
}
.notice_list a {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #d7d7d7;
}
.notice_list a .day {
  font-size: 13px;
  color: #939393;
}
.btn_box {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 100%;
  
}
.btn_box button {
  padding: 0;
  width: 20px;
  height: 20px;
  background: url("../img/icon-controls.png");
  margin: 0;
  outline: none;
}
.btn_box button.notice_sbtn {
  background-position: center;
}
.btn_box button.notice_nbtn {
  background-position: right;
}

/* footer */
footer {
  width: 100%;
  min-width: 1092px;
  background: #000;
  padding: 40px 0;
}
footer .inner {
  display: flex;
}
footer a {
  color: #fff;
}
.footer_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 120px;
}
.footer_main nav {
  padding-bottom: 23px; 
}
.footer_main nav ul {
  display: flex;
  align-items: center;
}
.footer_main nav ul a {
  margin-right: 14px;
  font-weight: 500;
  color: #ccc;
  font-size: 14px;
}
.footer_main p {
  padding-bottom: 8px;
  font-size: 12px;
  color: #646464;
}
.email
{
  font-size: 12px;
  color: #646464;
}
.check {
  color: #a0a0a0;
  font-weight: 500;
  margin-left: 2px;
}

/* swiper custom */
.main_bg_sw {
  height: 100%;
}
.top_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 17px;
  color: #a0a7b9;
  height: 30px;
  cursor: pointer;
}
.swiper-slide-thumb-active {
  color: #fff;
}
.swiper-slide-thumb-active:nth-child(1) {
  background-color: #fe2424;
}
.swiper-slide-thumb-active:nth-child(2) {
  background-color: #00a43b;
}
.swiper-slide-thumb-active:nth-child(3) {
  background-color: #6b53c8;
}
.swiper-slide-thumb-active:nth-child(4) {
  background-color: #f39;
}
.swiper-slide-thumb-active:nth-child(5) {
  background-color: #c853be;
}
.swiper-slide-thumb-active:nth-child(6) {
  background-color: #46c1ff;
}
.swiper-slide-thumb-active:nth-child(7) {
  background-color: #e99a00;
}
.main_bg_sw_nbtn,
.main_bg_sw_pbtn {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  display: none;
  position: absolute;
}
.main_bg_sw_nbtn {
  background: url("../img/icon-arrow-nav-right.png") center no-repeat;
  background-position: 0 0;
  right: 100px;
}
.main_bg_sw_pbtn {
  background: url("../img/icon-arrow-nav-left.png") no-repeat;
  background-position: 0 0;
  left: 100px;
}
.main_bg_sw_nbtn:hover,
.main_bg_sw_pbtn:hover {
  background-position: 0 100%;
}
.main_bg:hover .main_bg_sw_pbtn,
.main_bg:hover .main_bg_sw_nbtn {
  display: block;
}
.main_bg_sw_pbtn::after,
.main_bg_sw_nbtn::after,
.pc_game_sw_nbtn::after,
.pc_game_sw_pbtn:after,
.mobile_sw_nbtn::after,
.mobile_sw_pbtn::after,
.notice_pbtn::after,
.notice_nbtn::after {
  display: none;
}
.main_bg_sw_pn .swiper-pagination-bullet {
  border: 2px solid #6c7790;
  width: 11px;
  height: 11px;
  background: transparent;
  color: #000;
}
.main_bg_sw_pn .swiper-pagination-bullet-active {
  background-color: #fff;
  transform: scale(1.3);
  border: none;
}
.pc_game_sw_nbtn,
.pc_game_sw_pbtn,
.mobile_sw_nbtn,
.mobile_sw_pbtn {
  width: 63px;
  height: 63px;
  display: none;
}
.pc_game_sw_nbtn,
.mobile_sw_nbtn {
  background: url("../img/icon-arrow-right-light.png") center no-repeat;
  right: -80px;
}
.pc_game_sw_pbtn,
.mobile_sw_pbtn {
  background: url("../img/icon-arrow-left-light.png") center no-repeat;
  left: -80px;
}
.pc_game:hover .pc_game_sw_nbtn,
.pc_game:hover .pc_game_sw_pbtn,
.mobile_game:hover .mobile_sw_nbtn,
.mobile_game:hover .mobile_sw_pbtn
{
  display: block;
}
.addvert_pn {
  position: absolute;
  top: 20px;
}
.addvert_pn .swiper-pagination-bullet {
  background-color: #aab1b7;
  width: 18px;
  height: 18px;
  font-size: 12px;
  opacity: 1;
  line-height: 1.4;
  color: #585b5e;
}
.addvert_pn .swiper-pagination-bullet-active {
  background-color: #2a2c2e;
  color: #fff;
}
.notice_pbtn,
.notice_nbtn {
  top: auto;
  left: auto;
  right: auto;
}
.notice_pbtn {
  right: 50px;
}
.notice_sbtn {
  position: absolute;
  right: 30px;
}